@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
img {
  max-width: 100%;
  border: 0 none;
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
button,
input,
select,
textarea {
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  outline: none;
}
button:hover {
  cursor: pointer;
}
textarea {
  resize: none;
}
label {
  user-select: none;
}
fieldset {
  border: 0 none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  font-family: inherit;
}
legend,
caption,
.blind {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
/* design */
body {
  background-color: #ffffee;
  font-family: "Raleway", "Malgun Gothic", "맑은 고딕", sans-serif;
}
.hidden {
  display: none !important;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table > .cell {
  display: table-cell;
  vertical-align: middle;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex > * {
  flex: 1;
}
.wrap {
  position: relative;
  height: 100vh;
  padding: 0 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content {
  position: relative;
  z-index: 5;
}
.title {
  margin-bottom: 30px;
  color: #6495ed;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  user-select: none;
}
.vanilla-login {
  height: 150px;
  padding: 30px 0;
  text-align: center;
  transition: all 0.5s ease;
}
[data-login="off"].vanilla-login {
  height: 100vh;
}
[data-login="on"].vanilla-login {
  height: 150px;
}
.ipt {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.ipt::placeholder {
  color: #ccc;
}
.ipt--username {
  text-align: center;
}
.ipt--submit {
  background-color: #ccc;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ipt--submit:hover {
  border-color: #aaa;
  background-color: #aaa;
}
.ipt--todo {
  width: 100%;
}
.btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn--primary,
.ipt--primary {
  border-color: #6495ed;
  background-color: #6495ed;
}
.btn--primary:hover,
.ipt--primary:hover {
  border-color: #2668ba;
  background-color: #2668ba;
}
.btn--logout:hover {
  border-color: #aaa;
  background-color: #aaa;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vanilla-today {
  margin: 30px 0;
}
.vanilla-date {
  font-family: "Roboto Mono";
  font-size: 24px;
  font-weight: 500;
}
.vanilla-clock {
  font-family: "Roboto Mono";
  font-size: 36px;
  font-weight: bold;
}
.vanilla-greeting {
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}
.btn-remove {
  flex: none;
  margin-left: 10px;
}
.btn-check {
  flex: none;
  margin-right: 10px;
}
.ipt--write {
  flex: none;
  width: 45px;
  margin-left: 10px;
}
.todo-wrap {
  max-width: 750px;
  margin: 0 auto;
}
.list-todo {
  margin-top: 10px;
}
.list-todo > li {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  font-weight: 600;
  word-break: break-all;
}
.list-todo > li ~ li {
  margin-top: 10px;
}
.list-todo > li:first-child {
  color: #666;
  background-color: #ccc;
  font-weight: 300;
  user-select: none;
}
.del {
  position: relative;
  color: #ccc;
  font-weight: 300;
}
.del::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
/* media */
@media screen and (max-width: 1024px) {
  .wrap {
    padding: 0 25px;
  }
  .title {
    font-size: 28px;
  }
  .result {
    flex-direction: column;
  }
  .vanilla-greeting {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
